<%= simple_form_for @post, :html => { :multipart => true } do |f| %>
  <%= f.input :title %>
  <%= f.input :image %>
  <%= f.input :description %>

  <div class="actions">
    <%= f.button :submit %>
    <%= link_to 'Cancel', posts_path %>
  </div>
<% end %>
